<html>

<head>
  <style>
  .space
  {
    height: 10%;
    text-align: center;
  }
  </style>

    <!-- Compiled and minif
      ied CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div class="card-panel red accent-1">
    <div class="space">
      <h1>Qizr</h1>
    </div>
  </div>
<div class="Qiz-body">
  <h3>1. What is the output of the below c code?</h3>
    <input type="radio" name="question1">
       <label>1. </label><br/>
    <input type="radio"  name="question1">
       <label>2.</label><br/>
    <input type="radio" name="question1">
       <label>3.</label> <br/>
    <input type="radio" name="question1">
     <label>4.</label>
 </div>
 <button class="waves-effect waves-light btn" type="submit">Submit</button>
</body>
</html>
